body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a5c0e9;
    color: #0a8bf5;
}


header {
    background-color: #508ce6;
    color: #192657;
    padding: 15px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    max-height: 50px;
    margin-right: 10px;
}

header .span {
    font-size: 24px;
    font-weight: bold;
}


main {
    padding: 20px;
}


#registro-do-carro {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#registro-do-carro h2 {
    margin-top: 0;
    font-size: 24px;
    color: #508ce6;
    text-align: center;
}


.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.form-group,
.form-group2 {
    flex: 1;
    min-width: 280px;
}


.form-group label,
.form-group2 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #192657;
}


.form-group input,
.form-group2 input,
.form-group textarea,
.form-group select,
.form-group2 textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}


.form-group select {
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB...');
    /* ícone de seta para baixo */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}


button {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #508ce6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover,
button:focus {
    background-color: #0667fa;
    outline: none;
}
