body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
}

.sidebar {
    width: 250px;
    background-color: #484949;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(3, 109, 231);
    font-size: 18px;
    font-weight: bold;
}

.sidebar .logo img {
    max-width: 200px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a i {
    margin-right: 8px;
}


.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 0px;
    background-color: #484949;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.sidebar nav ul li a:hover {
    background-color: #383838;
    color: white;
}

/* -------- MAIN ---------------*/

.main-content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header .breadcrumb {
    font-size: 14px;
}

header .breadcrumb a {
    text-decoration: none;
    color: #007bff;
}

header .logout a {
    text-decoration: none;
    color: #343a40;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-blue {
    background-color: #007bff;
}

.card-green {
    background-color: #28a745;
}

.card-red {
    background-color: #dc3545;
}

.card-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-content .icon {
    font-size: 24px;
}

.card a {
    color: white;
    text-decoration: none;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.card a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.charts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.chart {
    flex: 1 1 calc(50% - 20px);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart h3 {
    margin-top: 0;
}

.chart img {
    width: 100%;
    height: auto;
}